<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comparación de Métodos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Comparación de Métodos</h1>
        {% for method, result in results.items() %}
            <h2>{{ method }}</h2>
            <table>
                <thead>
                    <tr>
                        {% for key in result[0].keys() %}
                            <th>{{ key }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in result %}
                    <tr>
                        {% for value in row.values() %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div id="graphContainer-{{ method }}"></div>
        {% endfor %}
    </div>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var methods = {{ results.keys()|tojson }};
            
            methods.forEach(function(method) {
                var result = {{ results[method]|tojson }};
                var containerId = 'graphContainer-' + method;
                
                if (result.length > 0) {
                    var iterations = result.map(row => row.iteration);
                    var values = result.map(row => row.c); // Cambia 'c' por el valor relevante a graficar

                    var trace = {
                        x: iterations,
                        y: values,
                        mode: 'lines+markers',
                        type: 'scatter'
                    };

                    var data = [trace];
                    
                    Plotly.newPlot(containerId, data, {
                        title: 'Evolución de las Aproximaciones para ' + method,
                        xaxis: { title: 'Iteración' },
                        yaxis: { title: 'Valor de c' }
                    });
                }
            });
        });
    </script>
</body>
</html>
